apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-backend-belajar
  labels:
    app: belajar
    tier: backend
    stage: dev
    ver: v2024070905
spec:
  replicas: 1
  selector:
    matchLabels:
      app: belajar
      tier: backend
      stage: dev
      ver: v2024070905
  template:
    metadata:
      labels:
        app: belajar
        tier: backend
        stage: dev
        ver: v2024070905
    spec:
      containers:
      - name: container-backend-belajar
        image: endymuhardin/belajar-vault
        env:
        - name: SPRING_CLOUD_VAULT_ENABLED
          value: 'false'
        - name: SPRING_DATASOURCE_URL
          valueFrom:
            configMapKeyRef:
              name: konfigurasi-app-belajar
              key: database_jdbc_url
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: secret-app-belajar
              key: database_username
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: secret-app-belajar
              key: database_password
        ports:
        - containerPort: 8080
        startupProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 8080
          failureThreshold: 30
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 8080
          failureThreshold: 1
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: service-backend-belajar
  labels:
    app: belajar
    tier: backend
    stage: dev
    ver: v2024070905
spec:
  ports:
  - port: 8080
  selector:
    app: belajar
    tier: backend
    stage: dev
    ver: v2024070905